.float-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: #00000044 2px 2px 3px;
    background: #0000ffdd;
    transition: 300ms ease-in-out;
    z-index: 4;
}

.float-btn.hidden {
    right: -100px;
}

.float-btn:hover,
.float-btn.active {
    right: 15px;
    transform: rotate(0);
}

.float-btn img {
    width: 30px;
    height: 30px;
    transition: 300ms ease-in-out;
}

.float-btn.active img {
    transform: rotate(360deg);
}

.float-menu {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 60px;
    right: 20px;
    overflow: visible;
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-in-out;
    z-index: 4;
}

.float-menu.active {
    visibility: visible;
    opacity: 1;
}

.float-menu span {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: #00000044 2px 2px 3px, #00000044 -2px -2px 3px;
    transform: translateX(100%);
    transition: 300ms ease-in-out;
}

.float-menu span .innerspan {
    opacity: 0.5;
    transition: 300ms ease-in-out;
}

.float-menu span:hover .innerspan {
    opacity: 1;
}

.float-menu.active span {
    transform: translateX(0);
}

.float-menu span:nth-child(1) {
    transition-delay: 0ms;
}

.float-menu span:nth-child(2) {
    transition-delay: 50ms;
}

.float-menu span:nth-child(3) {
    transition-delay: 100ms;
}

.float-menu span:nth-child(4) {
    transition-delay: 150ms;
}

.float-menu span:nth-child(5) {
    transition-delay: 200ms;
}

.float-menu span:nth-child(6) {
    transition-delay: 250ms;
}

.float-menu span:nth-child(7) {
    transition-delay: 3000ms;
}

.float-menu span:nth-child(8) {
    transition-delay: 350ms;
}

.float-close {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 100;
    overflow: visible;
    visibility: hidden;
    opacity: 0;
    transition: 400ms;
}

.float-close.active {
    visibility: visible;
    opacity: 1;
}

.float-close .option {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: #00000044 2px 2px 3px, #00000044 -2px -2px 3px;
    transform: translateY(-100%);
    transition: 400ms;
    background-color: #ffffff;
}

.float-close .option span {
    opacity: 0.6;
    transition: 400ms;
}

.float-close .option.yes:hover {
    background: #ff0000;
}

.float-close .option:hover span {
    opacity: 1;
}

.float-close .option:nth-child(1) {
    transition-delay: 0ms;
}

.float-close .option:nth-child(2) {
    transition-delay: 50ms;
}

.float-close.active .option:nth-child(1) {
    transition-delay: 50ms;
}

.float-close.active .option:nth-child(2) {
    transition-delay: 0ms;
}

.float-close.active .option {
    transform: translateX(0);
}

#float-add-subject {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 100;
    bottom: 60px;
    right: -100%;
    background: #ffffff;
    box-shadow: #00000044 2px 2px 3px;
    border-radius: 10px;
    overflow: hidden;
    transition: 400ms;
    visibility: hidden;
    opacity: 0;
}

#float-add-subject.active {
    width: 400px;
    height: 100px;
    right: 40px;
    visibility: visible;
    opacity: 1;
}

#float-add-subject .header {
    height: 25px;
}

#float-add-subject input {
    width: 90%;
    height: 30px;
    background: #00000000;
    border: none;
    border-bottom: #5f5f5f solid 1px;
    text-align: center;
}

#float-add-subject button {
    width: 60px;
    height: 30px;
    background: #ddffdd44;
    border: none;
    border-radius: 10px;
}

#float-add-subject #confirm-add-subject:hover {
    background-color: #00ff0044;
}

#float-add-subject #cancel-add-subject:hover {
    background-color: #ff000044;
}