* {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.f-center {
    justify-content: center;
}

.f-space-a {
    justify-content: space-around;
}

.f-space-b {
    justify-content: space-between;
}

.f-start {
    justify-content: flex-start;
}

.f-vertical {
    flex-direction: column;
}

.app-panel {
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    border-radius: 15px;
}

.noti {
    width: 70%;
    height: 60px;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: #33333355 2px 2px 5px;
    transition: 1s;
    font-size: small;
    transition: 600ms;
}

.noti.active {
    animation: shownoti 5s ease-in-out forwards
}

@keyframes shownoti {
    0%, 100% {
        bottom: -100%;
    }
    10%, 90% {
        bottom: 30px;
    }
}

.noti:hover {
    animation-play-state: paused;
    bottom: 30px;
}